.savebtn {
  border: 1px solid rgb(100, 100, 231);
  background-color: white;
  color: blue;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  margin-right: 2rem;

}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2px;
  background-color: darkgray;
}