.header {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 1px solid black;
  width: 100%;
}

.settingspanel {
  width: 20%;
}

.body{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.text{
    height: 140px;
}