.settings-header {
  border: 1px solid black;
  width: 100%;
}

.settings-header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.settings-panel {
  width: 20%;
}

.settings-body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.text {
  height: 140px;
}