.panel {
  display: flex;
  gap: 12px;
  padding: 12px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.node-box {
  width: 142px;
  height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
}

.node-label{
    color: blue;
}